<div class="container">
  <div class="d-flex flex-row">
      <div class="row m-2">
          <div class="m-4">{{inPerson.id}}</div>
          <div class="m-4">{{inPerson.firstname}}</div>
          <div class="m-4">{{inPerson.lastname}}</div> 
          <div class="m-4">{{inPerson.phone}} </div>
      </div>
      <div class=" m-4">
          <a [routerLink]="['/edit', inPerson.id]">
          <button class="btn btn-primary">Редактировать</button>
        </a>
      </div>
      <div class="m-4">
        <button class="btn btn-secondary" (click)="onDeletePerson()">Удалить</button>
      </div>
  </div>
</div>

