 <div class="container">
    <form [formGroup]="addForm">
      <div class="m-2">
        <div class="m-4">
          <input type="text" formControlName="firstname" class="form-control" placeholder="Имя">
        </div>
        <div class="m-4">
  
          <input type="text" formControlName="lastname" class="form-control" placeholder="Фамилия">
        </div>
        <div class="m-4">
          <input type="text" mask="(000) 000-0000" prefix="8" [showMaskTyped]="true" formControlName="phone" class="form-control" placeholder="Телефон">
        </div>
  
        <div class="m-4">
          <button [disabled]="addForm.invalid" class="btn btn-primary" (click)="onAddPerson()">Добавить</button>
        </div>
      </div>
    </form>
    <br><br>
  </div>