<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Zagashtokova</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a> 
          <!-- exact true - точно ли соответствует ссылка пути, который сейчас есть -->
          <a class="nav-link" href="#" routerLink="/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add</a>
        </li>
      </ul>
    </div>
  </nav>
  